/* $fire-opal: #ec5c45ff;
$plump-purple: #60479aff;
$orange-red: #ee6b2fff;
$maize-crayola: #eec643ff;
$eerie-black: #141414ff; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200&display=swap');


body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background: #f6f6f4;
}


/* Header */
header {
  position: absolute;
  left: 0px;
  right: 0px;
  padding: 0px 5px;
  z-index: 1000;
}

header.fixed {
  background-color: white;
  position: fixed;
  border-color: #eeeeee;
  animation: fixHeader 0.5s ease;
  z-index: 1001;
}

@keyframes fixHeader {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
  }
}

header .row {
  justify-content: space-between;
  align-items: center;
}

header .navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

header .navbar ul li {
  display: inline-block;
  margin-left: 35px;
}

header .navbar ul li a {
  font-size: 1.2rem;
  text-decoration: none;
  line-height: 72px;
  display: block;
  color: #fff;
  font-weight: 600;
  position: relative;
}

header.fixed .navbar ul li a {
  color: #000000;
}

header .navbar a::before {
  content: '';
  height: 3px;
  background-color: #fff;
  width: 0%;
  position: absolute;
  right: 0px;
  bottom: -1px;
  transform: all 0.5s ease;
}

header.fixed .navbar a::before {
  background-color: #ee6b2fff;
}

header .navbar a:hover::before {
  width: 100%;
  left: 0;
}

header .navbar a.active::before {
  width: 100%;
  left: 0;
}

.btn-gradient {
  color: #ffff;
  background: linear-gradient(90deg,
      rgb(100, 70, 152) 0%,
      25.2964%,
      rgb(238, 105, 51) 50.5929%,
      75.2964%,
      rgb(235, 72, 86) 100%);
  border-color: rgb(100, 70, 152);
  transition: all ease 0.5s;
  text-transform: uppercase;
}

.btn-gradient:hover {
  color: #ffff;
  background: linear-gradient(270deg,
      rgb(100, 70, 152) 0%,
      25.2964%,
      rgb(238, 105, 51) 50.5929%,
      75.2964%,
      rgb(235, 72, 86) 100%);
}


.ham .fa {
  font-size: 20px;
  height: 30px;
  width: 35px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 3px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  display: none;
  border: 1px solid #eeeeee;
}

/* Navabar End */

/* Carousel Start */

.carousel-item {
  height: 600px;
}

.carousel-item img:after {
  content: '\A';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 1;
  transition: all 1s;
  -webkit-transition: all 1s;
}

.carousel-caption {
  position: absolute;
  display: block;
  background-color: #00000091;
  padding: 400px;
  width: 100%;
  right: 0;
  align-items: center;
  top: -100px;
  left: 0;
}

.carousel-caption h5 {
  z-index: 6;
  font-family: Roboto;
  visibility: visible;
  text-align: inherit;
  line-height: 71px;
  letter-spacing: 0px;
  font-weight: 700;
  font-size: 4rem;
  border-color: rgb(99, 101, 108);
  border-style: none;
  margin: 0px;
  border-radius: 0px;
  padding: 0px;
  height: auto;
  width: auto;
  color: rgb(255, 255, 255);
  text-decoration: none;
  white-space: nowrap;
  min-height: 0px;
  min-width: 0px;
  max-height: none;
  max-width: none;
  transform-origin: 50% 50%;
  opacity: 1;
  transform: perspective(600px);
}

.carousel-caption p {
  z-index: 6;
  font-family: Roboto;
  visibility: visible;
  text-align: inherit;
  letter-spacing: 0px;
  font-weight: 400;
  font-size: 1.2rem;
  border-color: rgb(99, 101, 108);
  border-style: none;
  margin: 0px;
  border-radius: 0px;
  padding: 0px;
  height: auto;
  width: auto;
  color: rgb(255, 255, 255);
}

/* Carousel End */

/* Services Start */



section#services {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #60479aff;
}

#services .container-fluid {
  position: relative;
  display: flex;
  justify-content: space-between;
  border: 1px solid;
  border-color: rgba(238, 107, 47, 0.541);

}

#services .container-fluid .frame {
  position: relative;
  width: 380px;
  height: 300px;
  border: 1px solid;
  border-color: rgba(161, 139, 212, 0.493);
}


#services .container-fluid .frame .face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  text-align: center;
}

#services .container-fluid .frame .face.face1 {
  background: #60479a;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform-origin: bottom;
}

#services .container-fluid .frame .face.face1 img {
  max-width: 100px;
}

#services .container-fluid .frame .face.face1 h3 {
  margin: 10px 0 0;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}

#services .container-fluid .frame:hover .face.face1 {
  transform: translateY(-100%) rotateX(90deg);
  background: #ee6b2fff;
}

#services .container-fluid .frame .face.face2 {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transform-origin: top;
  transform: translateY(100%) rotateX(90deg);
}

#services .container-fluid .frame:hover .face.face2 {
  transform: translateY(0%) rotateX(0deg);

}

/* Services End */

/* Aboutus Start */


.aboutUs .title h2 {
  font-size: 3rem;
  color: #60479a;
  position: relative;
}

.aboutUs .title h2:after {
  content: '';
  height: 5px;
  background-color: #60479a;
  width: 20%;
  position: absolute;
  left: 40%;
  bottom: -10px;
}

.aboutUs .title h3 {
  font-size: 2rem;
  font-weight: 500;
}

.aboutUs .info {
  font-size: 1rem;
  font-weight: 400;
  color: #141414ff;
}

.aboutUs .about_video {
  position: relative;
  background-color: black;
  min-height: 35rem;
  align-items: center;
  width: 90%;
  height: auto;
  overflow: hidden;
}

#about .about_video img {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}



#about .about_video .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}


.video-play-button {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  /* background: #fa183d; */
  border-radius: 50%;
  padding: 18px 20px 18px 28px;
}

.video-play-button:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #ba1f24;
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #fa183d;
  border-radius: 50%;
  transition: all 200ms;
}

.video-play-button:hover:after {
  background-color: darken(#fa183d, 10%);
}

.video-play-button img {
  position: relative;
  z-index: 3;
  max-width: 100%;
  width: auto;
  height: auto;
}

.video-play-button span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 32px solid #fff;
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}



.video-overlay {
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.80);
  opacity: 0;
  transition: all ease 500ms;
}

.video-overlay.open {
  position: fixed;
  z-index: 1000;
  opacity: 1;
}

.video-overlay-close {
  position: absolute;
  z-index: 1000;
  top: 15px;
  right: 20px;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: all 200ms;
}

.video-overlay-close:hover {
  color: #fa183d;
}

.video-overlay iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  /* width: 90%; */
  /* height: auto; */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
}

/* About us Start */

/* Amenities */

#amenities .title h2 {
  font-size: 3rem;
  color: #60479a;
  position: relative;
}

#amenities .title h2:after {
  content: '';
  height: 5px;
  background-color: #60479a;
  width: 30%;
  position: absolute;
  left: 35%;
  bottom: -10px;
}

#amenities .title h3 {
  font-size: 2rem;
}

/* Amenties Card Start */

#team {
  background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #60479aff;
  border-color: #60479aff;
  box-shadow: none;
  outline: none;
}

.btn-primary {
  color: #fff;
  background-color: #60479aff;
  border-color: #60479aff
}

section#amenities1 {
  padding: 30px 0;
}


#team .card {
  border: none;
  background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.mainflip {
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}

.frontside {
  position: relative;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  z-index: 2;
  margin-bottom: 30px;
}

.backside {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 1s;
  -moz-transform-style: preserve-3d;
  -o-transition: 1s;
  -o-transform-style: preserve-3d;
  -ms-transition: 1s;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
  min-height: 312px;
}

.backside .card a {
  font-size: 18px;
  color: #60479aff !important;
}

.frontside .card .card-title,
.backside .card .card-title {
  color: #60479aff !important;
}

.frontside .card .card-body img {
  width: 120px;
  height: 120px;
}

/* Amenties Card End */

#amenities2 .img-box {
  position: relative;
  background-size: cover;
  width: 100%;
  overflow: hidden;
}

#amenities2 .box1,
#amenities2 .box {
  position: relative;
  float: right;
  box-sizing: border-box;
  overflow: hidden;
  height: auto;
}

#amenities2 .img-box .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

#amenities2 .img-box .box .title {
  position: absolute;
  top: 60%;
  left: 30%;
  z-index: 5;
}

#amenities2 .img-box .box1 .title {
  position: absolute;
  top: 70%;
  left: 20%;
  z-index: 5;
}



#amenities2 .img-box .box1 .title h4,
#amenities2 .img-box .box .title h4 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #eeeeee;
}

/* Amenities */


.section-title {
  font-size: 3rem;
  color: #ee6b2fff;
  position: relative;
}

.section-title:after {
  content: '';
  height: 5px;
  background-color: #ee6b2fff;
  width: 80%;
  position: absolute;
  left: 10%;
  bottom: 12px;
}


.section-title1 {
  font-size: 3rem;
  color: #60479aff;
  position: relative;

}

.section-title1:after {
  content: '';
  height: 5px;
  background-color: #60479aff;
  width: 80%;
  position: absolute;
  left: 10%;
  bottom: 12px;
}

/* Amenities End */

/* Clients Start */
.client-image {
  max-height: 8.5rem;
  height: 8.5rem;
  width: 19rem;
}

/* Clients End */


/* Testimonials Start */
.card-main {
  border-color: rgb(100, 70, 152);
}

.section-title1 {
  font-size: 3rem;
  color: #60479aff;
  position: relative;

}

.section-title1:after {
  content: '';
  height: 5px;
  background-color: #60479aff;
  width: 20%;
  position: absolute;
  left: 40%;
  bottom: -10px;
}

/* Testimonials End */


/* Banner Start */

#banner .banner-image {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#banner .banner-image .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

#banner .banner-text {
  position: absolute;
  z-index: 15;
  top: 30%;
  left: 30%;
}

#banner .banner-text h3 {
  font-size: 3.5rem;
  font-weight: 700;
}

/* Banner End */

/* Benifits Start */
#benifits h3 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 60px;
}

#benifits p {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 40px;
}

#benifits .content ol li {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 50px;
}

/* Benifits Start */


/* $fire-opal: #ec5c45ff;
$plump-purple: #60479aff;
$orange-red: #ee6b2fff;
$maize-crayola: #eec643ff;
$eerie-black: #141414ff; */


.page-footer {
  background-color: #222337;
  color: #F5F6F4;
}

.page-footer .footer_col1 {
  position: relative;
}

.page-footer .vertical {
  border-left: 3px solid #F5F6F4;
  height: 300px;
  position: absolute;
  right: -10%;
  top: 10%;
}

.page-footer .content2 h4 {
  font-size: 2rem;
  font-weight: bold;
}

.page-footer .content2 ul {
  list-style: none;
}

.page-footer .content2 ul li {
  line-height: 35px;
}

.page-footer .content2 ul li a {
  text-decoration: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 500;
  color: #F5F6F4;
}

.page-footer .content2 .content3 {
  margin: 0 -40px;
}

.page-footer .content2 .content3 ul {
  position: relative;
  display: flex;
}

.page-footer .content2 .content3 ul li {
  position: relative;
}

.page-footer .content2 .content3 ul li a {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  margin: 0 5px;
  text-decoration: none;
  font-size: 15px;
  border-radius: 50%;
  color: #e2e2e2;
  box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.2),
    2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.page-footer .content2 .content3 ul li a:hover {
  color: #999;
  transform: translateY(-20px);
  box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.2),
    2px 24px 10px rgba(0, 0, 0, 0.1);
}

.page-footer .content2 .content3 ul li a:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.1);
}


.page-footer .content2 .content3 ul li a .fa {
  color: #fff;
  position: relative;
  z-index: 1;
}


.page-footer .content2 .content3 ul li:nth-child(1) a:before {
  background: #1877f2;
}

.page-footer .content2 .content3 ul li:nth-child(2) a:before {
  background: #1da1f2;
}

.page-footer .content2 .content3 ul li:nth-child(3) a:before {
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  ;
}

.page-footer .content2 .content3 ul li:nth-child(4) a:before {
  background: #FF0000;
}

.page-footer .content2 .content3 ul li:nth-child(5) a:before {
  background: #0e76a8;
}

.page-footer .footer_col2 {
  position: relative;
}

.page-footer .footer_col2 .vertical {
  border-left: 3px solid #F5F6F4;
  height: 300px;
  position: absolute;
  right: 10%;
  top: 10%;
}


.newsletter {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  padding: 60px;
  background: #fff;
  z-index: 100000;
  box-shadow: 0 0 0 100vh rgba(49, 39, 71, 0.95);
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease;
}

.newsletter.active {
  visibility: visible;
  opacity: 1;
}


.newsletter h2 {
  font-size: 48px;
  color: #312747;
}

.newsletter p {
  font-size: 20px;
  color: #312747;
}

.newsletter .inputbox {
  margin-top: 20px;
}


/* Style the input container */
.newsletter .inputbox .input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  align-items: center;
}

/* Style the form icons */
.newsletter .inputbox .icon {
  padding: 10px;
  background: #60479aff;
  color: white;
  min-width: 50px;
  font-size: 25px;
  height: 50px;
  text-align: center;
  align-items: center;
}

/* Style the input fields */
.newsletter .inputbox .input-field {
  width: 500px;
  padding: 10px;
  outline: none;
  font-size: 18px;
  height: 50px;
}

.newsletter .inputbox .input-field:focus {
  border: 2px solid #60479aff;
}



.newsletter .inputbox .btn {
  background: #60479aff;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  border: 1px solid #60479aff;
  letter-spacing: 2px;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 700;
}

.newsletter .inputbox .btn:hover {
  background: #602ed6;
  color: #fff;
}


.newsletter .close {

  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}








/* Responsive */

@media (max-width: 991px) {
  .home .home-content .block h1 {
    font-size: 50px;
  }

  header {
    padding: 15px;
    position: fixed;
    background-color: #ffffff;
    border: none;
    border-bottom: 1px solid #eeeeee;
  }

  header .brand-name a {
    color: #000000;
  }

  .ham .fa {
    display: inline-block;
  }

  .navbar {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0px;
    top: 60px;
    padding: 15px;
    border-top: 1px solid #eeeeee;
    display: none;
    border-bottom: 1px solid #eeeeee;
    text-align: center;
  }

  .navbar.show {
    display: block;
  }

  header .navbar ul li {
    display: block;
    margin-left: 0;
  }

  header .navbar ul li a {
    line-height: 42px;
    color: #000000;
  }

  header .navbar ul li a::before {
    background-color: #ee6b2fff;
  }

  .carousel-caption {
    display: none;
  }


  .client-image {
    max-height: 6.5rem;
    height: 6.5rem;
    width: 10rem;
    padding: 0.5rem 0;
  }


  .carousel-item {
    height: auto;
  }

  .aboutUs .title h2 {
    font-size: 1.8rem;
    font-weight: 800;
  }

  .aboutUs .title h3 {
    font-size: 1rem;
    font-weight: 700;
  }

  .aboutUs .info {
    padding-top: 1em;
    font-size: 0.8rem;
    font-weight: 400;
    color: #141414ff;
  }



  #amenities .title h2 {
    font-size: 1.8rem;
    font-weight: 800;
  }

  #amenities .title h3 {
    font-size: 1rem;
    font-weight: 700;
  }

  .section-title {
    font-size: 1.8rem;
  }

  .aboutUs .about_video {
    min-height: 15rem;
  }

  .video-overlay iframe {
    width: 360px;
    height: 225px;
  }

  #amenities2 .img-box .box1 .title {
    top: 40%;
    left: 10%;
  }

  #amenities2 .img-box .box1 .title h4,
  #amenities2 .img-box .box .title h4 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #eeeeee;
  }

  #banner .banner-text {
    top: 50%;
    left: 35%;
  }

  #banner .banner-text h3 {
    font-size: 1.5rem;
    font-weight: 700;
  }

  #banner .banner-text h4 {
    font-size: 1rem;
    font-weight: 700;
  }



  /* Benifits Start */
  #benifits h3 {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 40px;
  }

  #benifits p {
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 20px;
  }

  #benifits .content ol li {
    font-size: 1rem;
    font-weight: bold;
    line-height: 30px;
  }

  /* Benifits Start */
}

@media (max-width: 767px) {
  .home .home-content .block h1 {
    font-size: 40px;
  }

  .home .home-content .block h3 {
    font-size: 25px;
  }

  button#tour {
    margin-left: 2px;
    align-items: center;
    display: block;
    width: 90%;
  }

  .carousel-item {
    height: auto;
  }

  .aboutUs .title h2 {
    font-size: 1.8rem;
    font-weight: 800;
  }

  .aboutUs .title h3 {
    font-size: 1rem;
    font-weight: 700;
  }

  .aboutUs .info {
    padding-top: 1em;
    font-size: 0.8rem;
    font-weight: 400;
    color: #141414ff;
  }


  #services .container-fluid {
    position: relative;
    display: block;
    text-align: center;
    margin: auto;
  }




  #amenities .title h2 {
    font-size: 1.8rem;
    font-weight: 800;
  }

  #amenities .title h3 {
    font-size: 1rem;
    font-weight: 700;
  }

  .section-title {
    font-size: 1.8rem;
  }

  .aboutUs .about_video {
    min-height: 15rem;
  }

  .video-overlay iframe {
    width: 360px;
    height: 225px;
  }

  #amenities2 .img-box .box1 .title {
    top: 30%;
    left: 0%;
  }

  #amenities2 .img-box .box1 .title h4,
  #amenities2 .img-box .box .title h4 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #eeeeee;
  }

  #banner .banner-text {
    top: 20%;
    left: 12%;
  }

  #banner .banner-text h3 {
    font-size: 1.5rem;
    font-weight: 700;
  }

  #banner .banner-text h4 {
    font-size: 1rem;
    font-weight: 700;
  }



}